:root {
    --vermelho: #c32323;
}

@font-face {
    font-family: Assistant;
    src: url("../fonts/Assistant/Assistant-VariableFont_wght.ttf");
}

@font-face {
    font-family: "Inika";
    src: url("../fonts/Inika/Inika-Regular.ttf");
}

body {
    font-family: "Assistant";
}

.navbar {
    position: relative;
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: var(--vermelho);
}

.barra-navegacao {    
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.nav-link {
    display: block;
    padding: 16px 14px;
    font-size: 15px;
    color: white;
    text-decoration: none;
    background: none;
    border: none;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.inika {
    font-family: Inika;
}