:root {
    --vermelho: #c32323;
    --cinza: #F1F0F0;
}

/*Fontes*/
@font-face {
    font-family: Assistant;
    src: url("../fonts/Assistant/Assistant-VariableFont_wght.ttf");
}

@font-face {
    font-family: "Inika";
    src: url("../fonts/Inika/Inika-Regular.ttf");
}

/*Corpo*/
body {
    font-family: "Assistant";
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 20px;
}

/*Barra de Navegação*/
.navbar {
    display: flex;
    background-color: var(--vermelho);
    color: white;
    padding: 20px;
    align-items: center;
}

.navbar-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.nav-toggle-item {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 3px 0;
}

.barra-navegacao {    
    display: flex;    
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin-right: 20px;
}

.nav-link {
    color: white;
    text-decoration: none;
    padding: 9px 9px;
    font-size: 20px;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.inika {
    font-family: Inika;
}

/*Artigo*/

.lg-display-grid-2-col {
    display: grid;
    grid-template-columns: 48vw 48vw;
    justify-content: center;
}

h1 {
    font-size: 50px;
    margin: 0;
    padding: 0;
}

.artigo {
    display: flex;
    justify-content: center;
}

.artigo article {
    flex-direction: column;
    justify-content: center;
    display: flex;
    text-align: center;
}

/*Botão*/
.botao {
    font-size: 25px;
    display: inline-block;
    padding: 10px 10px;
    text-decoration: none;
    border-radius: 25px;  
}

.vermelho {
    color: white;
    background-color: var(--vermelho);
}

.cinza {
    background-color: var(--cinza);
    color: var(--vermelho);
}

.mg-10px {
    margin: 10px;
}

/*Imagens*/
.images {
    display: flex;
    justify-content: center;
    place-items: center;
}

.images img {
    display: inline-block;
    vertical-align: middle;
    justify-content: center;
    margin: 2px;
}

.img-mobile {
    width: 97.5px;
    height: 211px;
}

.img-pc {
    width: 320px;
    height: 208px;
}

@media screen and (max-width: 768px) {
    nav {
        flex-direction: column;
        display: flex;
        width: 100%
    }

    .row {
        flex-direction: row;
        display: flex;
        width: 100vw;
        justify-content: space-between;
        margin-right: 2vw;
    }

    .navbar-toggle {
        display: flex;
        margin-right: 5vw;
    }

    .barra-navegacao {
        flex-direction: column;
        overflow: hidden;
        max-height: 0;
        transition: max-height 0.4s ease-out;
    }

    .barra-navegacao.closed {
        max-height: 0;
    }

    .barra-navegacao.open {
        max-height: 300px;
    }

    .sm-display-1-col {
        display: grid;
        grid-template-columns: 98vw;
    }

    .sm-display-none {
        display: none;
    }
}